* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

body {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: aliceblue;
  color: black;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

a {
  color: rgb(56, 101, 235);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* =============== Header ====================== */
.Headname {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.boxheader-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.header-subtitle {
  color: gray;
  font-weight: 400;
  font-size: 0.9rem;
}

.social-icon a {
  font-weight: 600;
  font-size: 1rem;

  border: 1px solid rgb(185, 185, 185);
  border-radius: 50%;
  width: 30px;
  height: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 3px;

  transition: all 0.2s ease;
}

.social-icon a:hover {
  border-color: rgba(57, 140, 241, 0.752);
  background-color: rgba(57, 140, 241, 0.752);
  color: white;

  transform: translateY(-5px);
}

/* =============== Navbar ====================== */
.main-nav {
  background-color: rgba(56, 94, 206, 0.893);
}

.Nav-menu {
  list-style: none;
  display: flex;
  /* gap: 20px; */
  flex-wrap: wrap;
}

.Nav-menu li a {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;

  display: block;
  padding: 10px 15px;
}

.Nav-menu li a:hover {
  background-color: rgba(90, 126, 235, 0.893);
}

.Nav-menu li a:hover,
.Nav-menu li a.active {
  background-color: rgba(90, 126, 235, 0.893);
}

/* =============== Hero Section ====================== */
.hero-content {
  background-color: rgb(218, 238, 255);
  padding: 40px 0;
  box-shadow: 0 1px 10px #bcbbbb;
  margin-bottom: 30px;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-shadow: 4px 4px 4px #ffffff;

  text-align: center;
}

/* การเเบ่งคอลลัมน์
grid-template-columns:1fr 1fr;
grid-template-columns:repeat(2, 1fr); 
grid-template-columns:repeat(2, minmax(250px, 1fr));
grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));*/
.hero-grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 50px;
}

.hero-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px;
  transition: all 0.2s ease;
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
